:root {
    --pink-color : #C778DD;
    --gray-color : #ABB2BF;
    --dark-gray : #282C33;
}

.about-container {
    margin-top: 112px;
    position: relative;
}

.about-head {
    width: 516px;
    height: 42px;
    display: flex;
    align-items: center;
}

.about-head p {
    font-size: 32px;
}

.about-head hr {
    width: 326px;
    margin-left: 15px;
    border-color: var(--pink-color);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content-left {
    width: 515px;
    height: 312px;
}

.about-content-left p {
    color: var(--gray-color);
    font-size: 18px;
    margin-top: 35px;
}

.about-content-right {
    width: 343px;
    height: 508px;
    position: absolute;
    right: 0;
    top: -90px;
}



@media only screen and (max-width: 900px) {
    .about-content-right {
        display: none;
    }

    .about-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .about-head hr {
        width: 100px;
        margin-left: 15px;
        border-color: var(--pink-color);
    }

    

}

@media only screen  and (max-width:600px) {
    .about-head {
        width: 350px;
        display: flex;
        align-items: center;
    }

    .about-content-left {
        width: 350px;
    }
}