.skills-container {
    margin-top: 106px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

table, td, th{
    border: 1px solid gainsboro;
    border-collapse: collapse;
    padding: 4px;
}

.skills-left {
    display: inline-block;
}

th {
    display: flex;
    justify-content: flex-start;
}